<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latihan Web Statis Express.js</title>
    <style>
        h1 {
            padding-top: 100px;
            font-family: Arial;
        }
        p1 {
            font-size: 20px;
            font-family: sans-serif;
        }
        img {
          position: absolute;
          top: 260px;
          left: 50%;
          transform: translateX(-50%);
        }
    </style>
</head>
<body>
    <h1><center>Hi, My name is Fakhriy Fasya</center></h1>
    <p1><center>This website just for learn Express.js</center></p1>
    <p><center>
        <a href="/">Home</a>
        •
        <a href="/about">About</a>
        •
        <a href="/contact">Contact</a>
    </center></p>
    <img src="https://cdnl.iconscout.com/lottie/premium/thumb/infinity-loading-5671957-4723336.gif" alt="Devops icon" style="width:308px;height:308px;">
</body>
</html>